/** Header **/
.header {
    background: $primary-gradient;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    z-index: 9999;
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 75px;
    padding: 0;
    margin: 0;
    @include desktop() {
        width: 85%;
        padding: 0px 30px;
    }
}
.header__logo_container {
    display: flex;
}
.header__logo {
    width: 10em;
    @include desktop() {
        width: 200px;
    }
}
.header__nav {
    display: none;
    @include desktop() {
        display: flex;
        flex-direction: row;
        color: #FFFFFF;
        justify-content: center;
        align-items: center;
        height: 75px;
    }
}
.header__nav-item {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px 24px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    &:hover {
        border-bottom: 2px solid #FFFFFF;
        color: #FFFFFF;
        font-weight: 600;
        opacity: 0.5;
    }
}
.header__nav-item--active {
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 600;
}
.header__button {
    display: none;
    @include desktop() {
        background: transparent;
        padding: 10px 25px;
        border: 1px solid white;
        outline: none;
        text-decoration: none;
        color: $secondary-invert;
        border-radius: 50px;
        display: block;
        cursor: pointer;
        transition: transform 0.25s ease;
        &:hover { 
            transform: scale(1.1); 
        }
        img {
            margin-left: 5px;
        }
    }
}
